*{
    margin:0;
    padding:0;
}
section{
    background-image:url(Images/timetable-2467247_960_720.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    width:47vw;
    height:57vh;
    background-image:url(Images/Sunrise.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
}
span{
    font-size:2vw;
    font-family:"Bitter";
    color:white;
    display:block;
}
.container .inner1{
    width:50%;
    height:100%;
    position:absolute;
    left:0;
    text-align:center;
    margin-top:5%;
}
.inner1 a{
    display:inline-block;
    width:60%;
    height:4%;
    margin-bottom:11%;
    padding:4% 4%;
    font-family:'Bitter';
    color:white;
    text-decoration:none;
}
.fb{
    background:blue;
}
.tw{
    background:#00ebff;
}
.gl{
    background:#b10c0c;
}
.container .inner2{
    width:50%;
    height:100%;
    position:absolute;
    right:0;
    background:rgba(255,252,252,0.92);
    text-align:center;
}
h3{
    font-size:2.5vw;
    font-family:'Pacifico';
    margin-bottom:13%;
    margin-top:6%;
}
input[type=text],input[type=password]{
    width:80%;
    height:10%;
    margin-bottom:3%;
    border:0;
    background-color:transparent;
    border-bottom:1px solid #4b4040;
}
input[placeholder]{
    font-size:1.4vw;
    padding-left:3%;
    font-family:'Crete Round';
}
.btn{
    width:40%;
    height:10%;
    margin-bottom:9vh;
    font-family:'Crete Round';
    font-size:1.3vw;
    background-color:#12a312;
    color:white;
    border-bottom:1px solid;
}
